/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
a { text-decoration:none; color: #666; }
a:hover, a:focus, a:active { text-decoration: none; color: $themeColor !important; }
ul, ol { list-style: none; }

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

::selection {
  background: $themeColor
}